.veturat-list-view-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: calc(100% - 100px);
  gap: 20px;
  overflow-y: auto;
  position: relative;
  padding: 10px 10px 80px 10px;
}

.veturat-list-item {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-shadow: 0px 3px 10px #015d924d;
  border-radius: 12px;
  cursor: pointer;
  transition: ease-in-out 0.15s;
}

.veturat-list-item:hover {
  box-shadow: 0px 3px 10px #015d929c;
}

.veturat-list-item-image-container {
  width: 20%;
  height: 125px;
  border-radius: 5px;
}

.veturat-list-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.veturat-list-item-car-info {
  display: flex;
  flex-shrink: 0;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.veturat-list-item-car-info :is(h3, h1) {
  padding-left: 30px;
  color: #015c92;
}

.veturat-list-item-car-info button {
  display: flex;
  gap: 1px;
  align-items: center;
  justify-content: center;
  padding: 3px 6px; 
  background-color: #015c92;
  color: white;
  border-radius: 30px;
  border: 0px solid transparent;
  font-size: 12px;
  max-width: 100px;
  cursor: pointer;
  box-shadow: 0px 3px 10px #015d9279;
  margin-left: 30px;
  text-transform: uppercase;
  width: 80px;
}

.veturat-list-item-child {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  color: #015c92;
}

.transmission-svg {
  height: 3em;
  width: 3em;
}

.transmission-svg path {
  fill: #015c92;
}

.veturat-list-item-child-icon-wrapper {
  background-color: #015c92;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.status-badge {
  margin-left: 30px;
  padding: 3px 6px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 12px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:help;
}

.available {
  background-color: lightskyblue;
  color: white;
  box-shadow: 0px 3px 6px rgba(173, 216, 230, 0.5);
}

.rented {
  background-color: lightcoral;
  color: white;
  box-shadow: 0px 3px 6px rgba(240, 128, 128, 0.5);
}

.in-service {
  background-color: gray;
  color: white;
  box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.5);
}