.index-parent {
  background-color: #e5e5f7;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 1400px
    ),
    repeating-linear-gradient(#444cf755, #b4b8f9);
  position: relative;
}

.index-navbar {
  position: fixed;
  top: 8px;
  left: 8px;
  width: calc(100dvw - 16px);
  display: flex;
  padding: 10px 10px;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  align-items: center;
  color: white;
}

.index-navbar-search {
  padding: 6px 10px;
  background-color: white;
  color: darkslategrey;
  border-radius: 20px;
  font-weight: 400;
  cursor: pointer;
  border: 0px solid transparent;
}

.index-navbar-search:focus,
.index-navbar-search:focus-visible {
  border: none;
  outline: none;
}

.index-intro {
  display: flex;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.index-intro img {
  width: 35%;
  border-radius: 20px;
  box-shadow: 0px 10px 30px rgb(0, 0, 0, 0.7);
}

.intro-text {
  font-size: 30px;
  color: #015c92;
  text-transform: uppercase;
  font-weight: 700;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.index-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
  color: white;
}

.index-footer :is(div) {
  display: flex;
  align-items: center;
  gap: 10px;
}

